
/* FUENTES */

@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: black;
}

#titulo , #subtitulo {
    text-align: center;
    font-size: 40px;
}

#titulo {
    font-size: 50px;
}

*{
    box-sizing: border-box;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 100;
    font-style: normal;
    transition: transform ease 0.5s ,box-shadow ease 0.5s ;
    color: white;
}

p{
    
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
      
}


.block {
    display: block;
}

#espacioMenu{
    margin-bottom: 100px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 20px;
    background-color: black;   
    align-items: center;
    transition: box-shadow 0.3s ease;
    z-index: 100;
   
}

#menuPrincipal a {
    margin: auto;
    transition: box-shadow 0.3s ease;
    align-self: center;
    text-decoration: none;
    color: orange;
    font-size: 18px;
    width: 80px;
    height: 25px;
    text-align: center;
    background-color: none;
}

#menuPrincipal a:hover {
    box-shadow: 1px 1px 10px 5px rgba(248, 112, 0, 0.3);
    
}


#menuPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* SOBRE MI */

#contenedor-sobreMi{
    
    display: flex;
    flex-direction: row;
    margin: 10% 10% 10% 10%;
}

#sobreMi{
    width: 50%;
    margin: auto;
    text-align: justify;
    
}

#sobreMi h1{

    text-align: center;
    font-size: 50px;
    color: orange;
}


#sobreMi h2{

   text-align: center;
    font-size: 35px;
}

#sobreMi p{

    font-size: 20px;
    line-height: 30px;
}



#profile {
    height: 300px;
    width: 250px;
    border-radius: 100%;
}

#contenedorCv {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contenedorCv h2 {
    color: orange;
    font-size: 35px;
}

#contenedorCv a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    background-color: orange;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    padding: 5px;
    transition: background-color, transform 0.5s;   

}

#contenedorCv a:hover {
    transform: scale(1.1);
    background-color: black;
    color: orange;
    transition: background-color, transform 0.5s;
}

/* MISION-VISION */

#contenedorVision-mision{
    display: flex;
    width: 80%;
    margin: auto;
    border: solid orange;
    flex-wrap: wrap;
    padding: 5px;
}

.titulosVisionMision {
    color: black;
    
    
}

.visionMision{
    width: 350px;
    margin: auto;
    
}

.visionMision h2 {
    text-align: center;
}

.visionMision p {
    text-align: justify;
}

/* HABILIDADES TECNICAS - BLANDAS */

#tituloHabilidades{
    color: orange;
   text-align: center;
   font-size: 50px;
}

#contenedorHabilidades{
    width: 80%;
    margin: 50px auto;
    border-radius: 30px;
   padding: 20px;
   box-shadow: 0px 0px 45px -5px rgb(44, 42, 44);

}

#contenedorHabilidades:hover {
    
    box-shadow: 0px 0px 45px -10px rgb(187, 143, 24);
}

#habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly   ;
    gap: 20px;
}


.habilidad {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 250px;
    height: 70px;
    border-radius: 30px;

    


    
}

.habilidad:hover {
    transform: scale(1.05); 
    box-shadow: 0px 0px 45px -10px rgb(187, 143, 24);
}


.imgHabilidad , .imgTecnologias , .imagenContactos  {
    border-radius: 100%;
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 0px 20px 0px 10px ;
    padding: 3px;
}





h3{
    text-decoration: none;
    font-weight: 500;
    font-style: italic;
    color:white;
    /* margin: auto; */

}



/* MIS OJETIVOS - AMBICIONES */

#contenedorAmbiciones{
    width: 80%;
    margin: auto;
    border: solid orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ambiciones{
    flex-direction: column;
    width: 300px;
    border: solid;
    margin: 10px;
}

.ambicion {
    display: flex;
}

.imgAmbiciones {
    border-radius: 100%;
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 0px 0px 0px 10px ;
    padding: 3px;
}



.ambiciones h3 {
    color: black;
    margin: auto;
}


.ambiciones p {
    margin: 10px;
}

#o {
    margin: auto;
}

#tituloAmbiciones {
    color: black;
    text-align: center;
    width: 80%;
   margin: 20px  auto;
    
}

/* PROJECTOS */

#tituloProyectos {
    text-align: center;
    font-size:45px;
    color: orange;
}

#contenedorProjectos{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projecto {
    padding: 10px;
    min-width: 250px;
    max-width: 300px;
    margin: 35px;
    border-radius: 30px;
    height: 500px;
    box-shadow: 0px 0px 45px -5px rgb(44, 42, 44);




}

.projecto:hover {
    /* Tamaño al hacer hover */
    transform: scale(1.05); /* Aumenta el tamaño en un 5% */
    box-shadow: 0px 0px 45px -10px rgb(187, 143, 24);
    outline: solid rgb(202, 143, 32);
    
}

.projecto a{
    display: flex;
    justify-content: center;

}


.projecto h2{
    text-align: center;
    color: orange;

}

.projecto h3{
    text-align: center;
    color: black;

}

.projecto p{
    text-align: justify;
    height: 200px;
    line-height: 20px;
}

.projecto a{
    margin: 20px auto;
    text-decoration: none;
    color: black;
    font-size: 25px;
    background-color: orange;
    padding: 10px;
    border-radius: 25px;
    transition: background-color 0.5s;
    
}

.projecto a:hover {
    transform: scale(1.05);
    background-color: black;
    color: orange;
    transition: background-color 0.5s;
}

.tecnologiasUsadas {
    display: flex;
    justify-content: space-evenly;
}

.enlacesProjectos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}


/* Contacto */

#contenedorContacto {
    margin: 50px auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;



}

#contenedorContacto h1 {
    color: orange;
}

.contacto{
    
    display:  flex; 
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 0px 20px;
   
    
    
    
}




.imagenContactos  {
    border-radius: 100%;
    background-color: white;
    width: 40px;
    height: 40px;
    margin: auto ;
    box-shadow: 0px 0px 45px -5px rgb(44, 42, 44);
    
}

.contacto a {
    margin: 10px;
}

.contacto a:hover {
    transform: scale(1.10);
    filter: invert(100%);
}

/* RESPONSIVE */

@media only screen and (max-width: 550px) {

    #titulo , #subtitulo {
        font-size: 30px;
    }

    #subtitulo{
        font-size: 25px;
    }

    #menuPrincipal {
        flex-direction: column; 
        align-items: center; 
        padding: 10px 0; 
        gap: 5px;
    }


    #contenedor-sobreMi{

        margin:  auto;

    }

    #sobreMi{
    
        width: 100%;

    }

    #sobreMi h2{
    
        font-size: 25px;

    }

    nav * {
        font-size: 18px;
    }

    #espacioMenu{
        margin-bottom: 150px;
    } 



}

@media only screen and (max-width: 768px) {


    
    #contenedor-sobreMi{

        flex-direction: column-reverse;
        margin:  50px  auto;
        align-items: center;
        text-align: center;
    }

    

    #sobreMi{
    
    width: 80%;
    margin: 50px 0 0 0 ;

    }

    #sobreMi p{
        font-size: 20px;
    }

    #Profile {
        height: 250px;
        width: 200px;
    }


    
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #profile{
        
        height: 350px;
        width: 300px;

    }

    #espacioMenu{
        margin-bottom: 100px;
    }


}







