
/* FUENTES */

@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');


*{
    box-sizing: border-box;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}


.block {
    display: block;
}

#espacioMenu{
    margin-bottom: 250px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 20px;
    background-color: orange;   
    align-items: center;
    
   
}

nav * {
    align-self: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#menuPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* SOBRE MI */

#contenedor-sobreMi{
    
    display: flex;
    flex-direction: row;
    margin: 10% 10% 10% 10%;
    height: 500px;
}

#sobreMi{
    width: 50%;
    margin-right: auto;
}

#profile {
    height: 400px;
    width: 400px;
    border-radius: 100%;
}


/* MISION-VISION */

#contenedorVision-mision{
    display: flex;
    width: 80%;
    margin: auto;
    border: solid orange;
    flex-wrap: wrap;
    padding: 5px;
}

.titulosVisionMision {
    color: black;
    
    
}

.visionMision{
    width: 350px;
    margin: auto;
    
}

.visionMision h2 {
    text-align: center;
}

.visionMision p {
    text-align: justify;
}

/* HABILIDADES TECNICAS - BLANDAS */

#tituloHabilidades{
    color: orange;
   text-align: center;
   font-size: 50px;
}

#contenedorHabilidades{
    width: 80%;
    margin: 50px auto;
   border: solid orange;
   padding: 20px;

}

#habilidades{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly   ;
    gap: 20px;
}


.habilidad {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 250px;
    height: 70px;
    border-radius: 30px;

    


    
}


.imgHabilidad , .imgTecnologias , .imagenContactos  {
    border-radius: 100%;
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 0px 20px 0px 10px ;
    padding: 3px;
}





h3{
    text-decoration: none;
    font-weight: 500;
    font-style: italic;
    color:white;
    /* margin: auto; */

}



/* MIS OJETIVOS - AMBICIONES */

#contenedorAmbiciones{
    width: 80%;
    margin: auto;
    border: solid orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ambiciones{
    flex-direction: column;
    width: 300px;
    border: solid;
    margin: 10px;
}

.ambicion {
    display: flex;
}

.imgAmbiciones {
    border-radius: 100%;
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 0px 0px 0px 10px ;
    padding: 3px;
}



.ambiciones h3 {
    color: black;
    margin: auto;
}


.ambiciones p {
    margin: 10px;
}

#o {
    margin: auto;
}

#tituloAmbiciones {
    color: black;
    text-align: center;
    width: 80%;
   margin: 20px  auto;
    
}

/* PROJECTOS */
#tituloProyectos {
    text-align: center;
    font-size:35px;
}

#contenedorProjectos{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projecto {
    width: 250px;
    margin: auto;
    margin: 15px;
}

.projecto a{
    display: flex;
    justify-content: center;

}


.projecto h2{
    text-align: center;

}

.projecto h3{
    text-align: center;
    color: black;

}

.projecto p{
    text-align: justify;
    
}

.tecnologiasUsadas {
    display: flex;
    justify-content: space-evenly;
}


/* Contacto */

#contenedorContacto {
    margin: 50px auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: solid orange;


}

.contacto{
    
    display:  flex; 
    flex-direction: row;
    margin: auto;
    
}


.imagenContactos  {
    border-radius: 100%;
    background-color: white;
    width: 40px;
    height: 40px;
    margin: auto ;
    
}

/* RESPONSIVE */

@media only screen and (max-width: 550px) {

    #espacioMenu{
        margin-bottom: 250px;
    }

    #menuPrincipal {
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        align-items: center; /* Centra los elementos horizontalmente */
        padding: 10px 0; /* Ajusta el padding si es necesario */
        gap: 5px;
    }


    #contenedor-sobreMi{

        margin: 100px 50px  auto;

    }

    #sobreMi{
    
        width: 100%;

    }

    nav * {
        font-size: 18px;
    }

}

@media only screen and (max-width: 768px) {

    #espacioMenu{
        margin-bottom: 350px;
    }

    
    #contenedor-sobreMi{

        flex-direction: column-reverse;
        margin:  50px  auto;
        align-items: center;
        text-align: center;
    }

    #sobreMi{
    
    width: 80%;
    border: solid;
    margin: 50px 0% 100px 0%;
}

    #profile {
        height: 250px;
        width: 250px;
        border-radius: 100%;
    }


    
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #profile{
        
        height: 300px;
        width: 300px;

    }

}







